.main-account-creation{
    width: 50%;
    height: auto;
    padding: 1vw;
    margin: auto;
    border-radius: var(--borders-slightly-round);
    background-color: var(--main-background-color);
}

form{
    height:auto;
    width: 90%;
    margin: auto;
    background-color: RGBA(0,0,0,0.10);
    border-radius: var(--borders-slightly-round);
    border:solid black 0.5px;
}

legend, label, input{
    /* TODO: changer la police DEGUEULASSE */
    font-family: var(--redressed);
    font-size: 2vw;
}