/* TODO : Remove border dash when set up done */
.main-index{
    width: 85%;
    height: auto;
    padding: 2rem;
    margin: auto;
    border-radius: var(--borderslightlyRound);
    background-color: aquamarine;
}

.main-index > section{
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: var(--main-section-color);
    border:dashed black 2px;
    border-radius: var(--borderslightlyRound);
}

article{
    margin-left:1rem;
    margin-right:1rem;
}

p{
    text-align: justify;
    font-size: 2vw;
}

.second-section-index>article>section>p{
    font-size: 1.5vw;
}

.second-section-index article section img{
    height: 5rem;
    width: 5rem;
}

.third-section-index figure img{
    border-radius: 0%;
}

.sixth-section-index{
    margin-bottom: 3rem;
}

.sixth-section-index img{
    height: 10rem;
    border-radius: 0%;
}

/* TODO: centrer verticalement le texte */
.seventh-section-index>article{
    text-align: center;
    vertical-align: middle; /*ça marche paaaaaaas*/
    /* Rédef hauteur et tester align-self, etc. */
    /* Tenter padding avec vh et vw */
}

/* Ne marchera pas car l'héritage de .mainIndex > section a le dessus */
.eighth-section-index{
    width: 80%;
    margin: auto;
    text-align: center;
}

/* TODO: refaire les noms en kebab case et non camel case */