.mainIndex{
    width: 85%;
    height: auto;
    padding: 2rem;
    margin: auto;
    border-radius: var(--borderslightlyRound);
    background-color: aquamarine;
}

.mainIndex > section{
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: var(--main-section-color);
    /* TODO : Remove border dash when set up done */
    border:dashed black 2px;
    border-radius: var(--borderslightlyRound);
}

p{
    text-align: justify;
}

.firstSectionIndex>article>p{
    font-size: 4vw;
}

.secondSectionIndex>article>section>p{
    font-size: 1.2vw;
}

.secondSectionIndex article section img{
    height: 5rem;
    width: 5rem;
}

.thirdSectionIndex figure img{
    border-radius: 0%;
}