/* TODO : Remove border dash when set up done */
.mainIndex{
    width: 85%;
    height: auto;
    padding: 2rem;
    margin: auto;
    border-radius: var(--borderslightlyRound);
    background-color: aquamarine;
}

.mainIndex > section{
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: var(--main-section-color);
    border:dashed black 2px;
    border-radius: var(--borderslightlyRound);
}

article{
    margin-left:1rem;
    margin-right:1rem;
}

p{
    text-align: justify;
    font-size: 2vw;
}

.secondSectionIndex>article>section>p{
    font-size: 1.5vw;
}

.secondSectionIndex article section img{
    height: 5rem;
    width: 5rem;
}

.thirdSectionIndex figure img{
    border-radius: 0%;
}

.sixthSectionIndex{
    margin-bottom: 3rem;
}

.sixthSectionIndex img{
    height: 10rem;
    border-radius: 0%;
}

.seventhSection{
    width: 100%;
    vertical-align: 5rem;
}

.seventhSection>p{
    text-align: center;
}