/* Imports for fonts used */
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Roboto+Slab:wght@300&display=swap');

:root{
    /* Classic colors */
    --black:#000000;
    --salmon:#FF4C4C;

    /* Special Colors */
    --brightYellow: rgb(235, 192, 76);
    --brokenYellow: #faf6e9;
    --doubleBorderColor:#32a1ce;

    /* Main colors */
    --main-bg-color: #E5F3FD;
    --main-section-color:#f0f8ff;
    --main-hoverLinks-color:#429e9a;

    /* Fonts */
    --comforter: 'Comforter', cursive;
    --meriweather: 'Merriweather', 'Roboto Slab', cursive;

    /* Set up for some variables that must be fixed and changed easily */
    --marginTopBottomHeadFoot:2rem;
    --borderslightlyRound:5%;
}

/* headFootSetting => common settings between header and footer */
.headFootSettings{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color:var(--main-bg-color);
}

header{
    border-block-end:thick double var(--doubleBorderColor);
    margin-bottom: var(--marginTopBottomHeadFoot);
}

footer{
    justify-content: center;
    border-block-start:thick double var(--doubleBorderColor);
    margin-top: var(--marginTopBottomHeadFoot);
}

.HoneCollokEasy{
    flex:2;
    font-family: var(--meriweather);
    font-size: 3rem;
    font-style: italic;
    font-weight: bolder;
    align-self: center;
}

.spanCollokEasy{
    color: var(--brightYellow);
}

/* Header and footer ------ */
.navLinks{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 1rem;
}

.navLinks a{
    text-decoration: none;
    color: var(--brightYellow);
    font-family: var(--meriweather);
    font-weight: bold;
    font-size: 2rem;
}

.navLinks a:hover{
    color: var(--main-hoverLinks-color);
}

/* General ------ */

body{
    height: 100vh;
    width: 100%;
    text-align: center;
}

main{
    width: 80%;
    height: 100%;
    margin: auto;
}

h2{
    font-size: 2rem;
    text-decoration: underline;
    margin: 0rem 0.1rem 1rem 0.1rem;
}

.dFlexColumn{
    display: flex;
    flex-flow: column wrap;
}

.dFlexRow{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

img{
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: var(--borderslightlyRound);
}

.flexSize1{
    flex:1
}

.flexSize2{
    flex:2
}

/* Class for differents styles */
.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.actionVerb{
    color: var(--salmon);
    font-weight: 600;
}