@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Roboto+Slab:wght@300&display=swap');

:root{
    /* Classic colors */
    --black:#000000;

    /* Special Colors */
    --brightYellow: rgb(235, 192, 76);
    --brokenYellow: #faf6e9;

    /* Fonts */
    --comforter: 'Comforter', cursive;
    --meriweather: 'Merriweather', 'Roboto Slab', cursive;
}

/* General ------ */

body{
    background-color:var(--brokenYellow);
    text-align: center;
}

div {margin: 1rem 0;}

label, a{font-family: var(--meriweather);}

a{
    text-decoration: none;
    color: var(--brightYellow);
    font-weight: bold;
}

.dGrid{display: grid;}

/* Header ------ */

h1{
    font-size: 5rem;
    font-family: --comforter;
    padding: 1%;
    margin: 5rem 0.5rem;
}

h1 span{
    color: var(--brightYellow);
    font-style: italic;
}

/* Main ------ */

main{
    width: 80%;
    height: 100%;
    margin: auto;
    grid-template-columns: 1fr;
}

main form div{
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    /* Gap will be 50% from parent height */
    gap: 50%;
}